body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90px;
  padding: 1rem 7%;
  justify-content: space-between;
  position: sticky;
  z-index: 1000;
  backdrop-filter: blur(3px);
  left: 0;
  top: 0;
  color: white;
  font-weight: bold;
  align-items: center;
}

.navDetails{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navDetails a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  background-color: rgb(73, 176, 255);
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  height: 30px;
  margin: 10px 0;
  width: 70px;
  border-radius: 0.5rem;
  text-transform: uppercase;
  border-bottom: 3px solid white;
  transition: all 0.3s;
  text-align: center;
}

.navDetails a:hover{
  transition: all 0.3s;
  height: 35px;
  margin: 5px 0;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a span{
  background-color: rgb(255, 84, 84);
  border-radius: 30px;
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 33px;
  left: 80px;
}

#fav{
  position: relative;
  top: 10px;
  left: 0;
  background-color: transparent;
}

footer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: 2rem;
  background-color: rgb(132, 132, 132);
  color: #000;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

.contactContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
}

.detailContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  align-items: center;
}

.detailContent{
  color: #fff;
  display: flex;
  padding: 1rem;
  width: 350px;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(2px);
  justify-content: space-between;
}